extends layout

block content
    h1 #{title}

    h2 Weather Forecast
    p Weather forecast for #[b #{locationString}] on #{dateString}.
    form(action="/loc", method="post")
        p Select another location:
        select(id="location", name="location")
            option(value="Sheffield") Sheffield
            option(value="London") London
            option(value="Rome") Rome
            option(value="Ouagadougou") Ouagadougou
        input(type="submit", value="Submit")
    br
    table
        tr
            th Day
            th Description
            th Temperature (Min/Max)
            th Wind Speed
        for summary in summaries
            tr
                td=summary.dateString
                td
                    img(class="weathericon", src=summary.iconURL)
                    | #{summary.desc}
                td #{summary.tempMin}°C / #{summary.tempMax}°C
                td #{summary.windSpeed} m/s
